* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

/* Form */

.form{
    background: darkblue;
    border: 1px solid darkblue;
    border-width: 0 0 3px 0;
    box-shadow: 0px 2px 5px rgba(0,0,0, .2);
    display: flex;
    font-size: 1.5em;
}

.form > * {
    background: rgba(9,9,121,1);
    border: none;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    outline: none;
    padding: 20px;
}

.form > input {
    width: 100%;
}

.form > input ::placeholder{
    color: #fff;
}

/* btns */

button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    width: 50px;
}

.form > button {
    border-radius: 50%;
    transition: 0.5s;
}

.formButton-active {
    background: #26a69A;
    transform: rotate(100deg);
}

/* item todo */

.list-items {
    font-size: 1.1em;
    padding: 0;
    perspective: 500px;
}

.item {
    background: #fff;
    box-shadow: 0px 2px 5px rgba(0,0,0,.2);
    display: flex;
    margin-bottom: 10px;
    max-width: 100%;
    padding: 10px;
    transition: .6s;
}

.item span:first-child{
    width: 100%;
}

/* ANIM */

.flip {
    background: lightblue;
    color: #333;
    transform: rotateX(360deg);
}

.flip>span {
    text-decoration: line-through;
}